form.todo__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 50px 30px;

  min-width: 400px;
  width: 50%;

  &.important {
    background-color: #fff;
  }

  .todo__card-footer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    margin-top: 18px;
    padding: 0 20px;

    width: 100%;

    .todo__card-cta {
      display: flex;

      .save-btn {
        background-color: #66bb6a;
        color: #fff;

        font-size: 16px;

        box-shadow: 0 0 30px 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        border: none;
        outline: none;

        padding: 12px 28px;

        margin-right: 12px;

        cursor: pointer;

        transition: all 0.3s ease-in-out;

        &:hover {
          scale: 1.02;
        }
      }

      .del-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: transparent;
        color: #ad2138;

        border: none;
        outline: none;

        height: 43px;

        cursor: pointer;

        transition: all 0.3s ease-in-out;

        &:hover {
          scale: 1.05;
        }

        // svg {
        //   -webkit-filter: drop-shadow(0 0 30px 6px rgba(0, 0, 0, 1));
        //   filter: drop-shadow(0 0 30px 6px rgba(0, 0, 0, 1));
        // }
      }
    }
  }

  .todo__card-main {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;

    padding: 12px 20px;
  }

  .todo__card-heading {
    align-items: flex-start;
  }

  .todo__card-trailing {
    margin-top: 4px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  .round {
    margin-top: 4px;
    margin-right: 20px;
  }

  .todo__card-title {
    border: none;
    outline: none;
    border-bottom: 1px solid var(--text-dark);

    padding: 4px;
    padding-top: 0;

    margin-bottom: 24px;
  }

  .todo__card-subtitle {
    display: flex;
    align-items: center;

    color: var(--text-dark);
    font-size: 16px;
    line-height: 20px;

    margin-bottom: 18px;

    cursor: pointer;

    span:first-of-type {
      margin-right: 8px;
    }
  }

  .add-todo__input-date {
    position: relative;

    width: 100%;

    .input-date__icon {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;

      display: flex;
      justify-content: center;
      align-items: center;

      padding-left: 0px;
    }

    input {
      width: 100%;

      border: none;
      outline: none;
      border-radius: 12px;

      height: 50px;

      padding: 10px 16px;
      padding-left: 30px;

      font-size: 16px;
    }

    input[type='date']::-webkit-calendar-picker-indicator {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      height: auto;
      width: auto;
    }

    input[type='date']:after {
      content: attr(placeholder);
      color: var(--text-dark);
      font-weight: 500;
    }

    input[type='date']::-webkit-datetime-edit {
      display: none;
    }
  }
}
